div.layout {
    overflow: hidden;
    margin-left: 220px;
    margin-right: 220px;
}

@media only screen and (max-width: 1563px) {
    div.layout {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1023px) {
    div.layout {
        margin: 0;
        margin-left: 0px;
        margin-right: 0px;
    }
}