div.mainContainer {
    // background-color: #eddcc6;
    background-color: #f3f3ea;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        font-size: 1.85rem;
        font-weight: 900;
        padding: 80px 0px 0px 50px;
        color: rgba(51, 51, 51, 0.802);
    }


    div.intro {
        width: 100%;
        padding: 20px;
        height: auto;
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: center;
        align-items: center;

        article.text {
            border-left: 2px solid #333;
            width: 50%;
            padding-left: 30px;

            h1 {
                font-size: 3rem;
                font-weight: 900;
                padding: 0px 0px 20px 0px;
                color: rgba(51, 51, 51, 0.802);

                i {
                    padding-right: 20px;
                }
            }

            p {
                padding-right: 100px;
                font-weight: 600;
                color: #333;
            }

            i {
                color: rgba(51, 51, 51, 0.802);
                font-size: 50px;
            }

            #right_quote {
                position: relative;
                color: rgba(51, 51, 51, 0.802);
                font-size: 50px;
                padding-left: 460px;
            }
        }

        div.intro_image {
            position: relative;
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                height: auto;
                width: 100%;
                filter: grayscale(60%);
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }

    article {

        p {
            margin: 10px;
            font-size: 1.15rem;
            // text-align: justify;
        }
    }

    div.imgText {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

        img {
            width: 50%;
            margin-right: 20px;
            border-radius: 5px;
        }

        #house {
            background-image: url("/history/8.jpg");
            height: 610px;
            width: 50%;
            background-size: cover;
            background-position: center;
        }

        p {
            width: 50%;
        }
    }

    div.carouselContainer {
        position: relative;
        width: 100%;
        height: 100%;

        button.previous {
            top: 50%;
            z-index: 1;
            left: 0px;
            position: absolute;
            background-color: #000000;
            box-shadow: 0px 0px 4px 2px #ffffff;
            color: #fff;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #fff;
                font-weight: 800;
            }
        }

        button.next {
            top: 50%;
            z-index: 1;
            right: 0px;
            position: absolute;
            background-color: #000000;
            color: #fff;
            box-shadow: 0px 0px 4px 2px #ffffff;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;

            a {
                text-decoration: none;
                color: #fff;
                font-weight: 800;
            }
        }

        div.carousel::-webkit-scrollbar {
            width: 0px;
        }

        div.carousel {
            position: relative;
            width: 100%;
            margin-top: 100px;
            display: flex;
            flex-direction: row;
            position: relative;
            overflow-x: scroll;

            img {
                width: 100%;
                height: 500px;
                margin: 10px;
                border-radius: 5px;
            }
        }
    }

}

@media only screen and (max-width: 1563px) {
    div.mainContainer {
        div.intro {
            article.text {
                p {
                    padding-right: 50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1314px) {
    div.mainContainer {
        div.intro {
            article.text {
                p {
                    padding-right: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1221px) {
    div.mainContainer {
        div.intro {
            article.text {
                #right_quote {
                    padding-left: 340px;
                }
            }
        }
    }
}

@media only screen and (max-width: 983px) {
    div.mainContainer {
        display: flex;
        flex-direction: column;

        div.intro {
            display: flex;
            flex-direction: column;

            article.text {
                width: 100%;
                margin-top: 20px;
                margin-bottom: 50px;

                #right_quote {
                    padding-left: 240px;
                }
            }

            div.intro_image {
                width: 100%;

                img {
                    width: 100%;
                    height: 60vh;
                    background-size: cover;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    div.mainContainer {
        article {
            div.imgText {
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                    margin: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {

    div.mainContainer {
        div.intro {
            div.intro_image {
                position: relative;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    height: 20vh;
                    width: 100%;
                    filter: grayscale(60%);
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }

        div.imgText {
            p {
                width: 100%;
            }

            img {
                width: 100%;
            }

            #house {
                width: 100%;
            }
        }
    }

    #carouselC {
        margin-bottom: 30px;
    }

    #subtitle {
        margin-left: 0;
        padding-left: 0;
    }
}

[data-theme='dark'] div.mainContainer {
    background-color: #333;

    h2 {
        color: #f3f3ea;
    }

    div.intro {
        article.text {
            h1 {
                color: #f3f3ea;
            }

            p {
                color: #ffffff;
            }

            i {
                color: #f3f3ea;
            }

            #right_quote {
                color: #f3f3ea;
            }

        }

    }

    div.carouselContainer {
        button {
            box-shadow: 0px 0px 2px 1px #ffffff;
        }
    }
}