div.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-weight: 400;
    }

    div.contactContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;

        div.social {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-weight: 400;
                margin-bottom: 30px;
            }

            div.profile {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background-color: #fafafb;
            }

            div.socialComponents {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-top: 20px;
                transition: 0.3s ease-in-out;


                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #333;
                    text-decoration: none;
                    width: 50%;
                    padding: 5px;
                    margin: 6px;
                    transition: 0.3s ease-in-out;

                    i {
                        font-size: 20px;
                        padding-right: 5px;
                    }

                }

                #insta {
                    background-color: #ffffff;
                    color: #833AB4;
                    font-weight: 500;
                    border-radius: 5px;

                    &:hover {
                        color: #ffffff;
                        background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
                    }
                }

                #airbnb {
                    background-color: #ffffff;
                    color: #FF385C;
                    font-weight: 500;
                    border-radius: 5px;

                    &:hover {
                        color: #ffffff;
                        background-image: linear-gradient(45deg, #FD5C63, #C30B03);
                    }
                }

                #booking {
                    background-color: #ffffff;
                    color: #003580;
                    font-weight: 500;
                    border-radius: 5px;

                    &:hover {
                        color: #ffffff;
                        background-image: linear-gradient(45deg, #003580, #003580);
                    }
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-bottom: 400px;
            margin-left: 20px;

            h3 {
                font-weight: 400;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            input {
                width: 100%;
                font-size: 15px;
                padding: 5px;
                cursor: pointer;
                border: none;
                background-color: #fafafb;

                &::placeholder {
                    opacity: 0.5;
                }

                &:focus {
                    outline: none;
                }
            }

            div.nameAndEmail {
                display: flex;
                justify-content: space-between;
                width: 90%;

                div.email {
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    margin-left: 1rem;

                    input {
                        width: 100%;
                        font-size: 15px;
                        padding-left: 5px;
                        padding-bottom: 5px;
                        cursor: pointer
                    }
                }

                div.name {
                    display: flex;
                    flex-direction: column;
                    align-items: left;

                }
            }

            div.message {
                display: flex;
                flex-direction: column;
                align-items: left;
                width: 90%;

                textarea {
                    width: 100%;
                    padding: 7px;
                    font-size: 15px;
                    cursor: pointer;
                    font-size: 15px;
                    padding: 5px;
                    border: none;
                    background-color: #fafafb;

                    &::placeholder {
                        opacity: 0.5;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

        }
    }
}

@media only screen and (max-width: 788px) {
    div.container {
        div.contactContainer {
            flex-direction: column;
            align-items: center;

            div.social {
                margin-bottom: 20px;
            }

            form {
                width: 80%;
            }
        }
    }
}

[data-theme='dark'] div.container {
    color: #fff;

    div.contactContainer {
        div.social {
            h2 {
                color: #fff;
            }

            div.socialComponents {
                a {
                    color: #fff;
                }

                #insta {
                    background-color: #333;
                    color: #b444ff;
                    font-weight: 500;
                    border-radius: 5px;

                    &:hover {
                        color: #ffffff;
                        background-image: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
                    }
                }

                #airbnb {
                    background-color: #333;
                    color: #FF385C;
                    font-weight: 500;
                    border-radius: 5px;

                    &:hover {
                        color: #ffffff;
                        background-image: linear-gradient(45deg, #FD5C63, #C30B03);
                    }
                }

                #booking {
                    background-color: #333;
                    color: #006aff;
                    font-weight: 500;
                    border-radius: 5px;

                    &:hover {
                        color: #ffffff;
                        background-image: linear-gradient(45deg, #0053c8, #0453c2);
                    }
                }
            }
        }

        form {
            h3 {
                color: #fff;
            }

            input {
                color: #fff;
                background-color: #333;
            }

            div.nameAndEmail {
                div.email {
                    input {
                        color: #fff;
                        background-color: #333;
                    }
                }

                div.name {
                    input {
                        color: #fff;
                        background-color: #333;
                    }
                }
            }

            div.message {
                textarea {
                    color: #fff;
                    background-color: #333;
                }
            }
        }

    }
}